@mixin flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin a11y-hidden {
  background-color: blue;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.content {
  width: 980px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: dodgerblue;

  .a11y-hidden {
    @include a11y-hidden;
  }

  .detail-wrap {
    position: relative;
    min-height: 240px;
    padding-left: 245px;
    margin-bottom: 15px;

    .poster {
      position: absolute;
      top: -66px;
      left: 0;
      width: 205px;
      height: 305px;
      z-index: 1;
      background-color: aqua;
    }

    .title-info {
      margin-bottom: 20px;
      font-size: 15px;

      span {
        display: inline-block;
        background-color: yellow;
        width: 36px;
        height: 36px;
        margin: -3px 4px 0 0;
        line-height: 36px;
        vertical-align: top;
        border-radius: 50%;
        text-align: center;
      }

      strong {
        font-size: 26px;
        font-weight: bold;
      }
    }

    .detail-info1 {
      overflow: hidden;
      padding-bottom: 17px;
      margin-bottom: 20px;
      font-size: 15px;
      border-bottom: 1px solid #ddd;
    }
  }
}
