.a11yHidden { overflow: hidden; position: absolute; clip: rect(0 0 0 0)}
a {color: #000; text-decoration: none; outline: none}
a:hover, a:active {
  text-decoration: none; 
}
ul{
  margin: 0;
}
.main{
  width: 100%;
  height: 960px;
  background-color: #444;
  padding: 50px 0 70px;
  position: relative;
  .BookContents{
    margin: auto;
    width: 1280px;
    height: 870px;  
    display: flex;
    background-color: #fff;
    .steps{
      width:78px;
      padding: 0;
      height: 100%;
      li{
        height: 25%;
        list-style: none;
        border: 1px solid;
        a{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          text-align: center;
          background-color: #fff;
        }
      }
      .active a{
        background-color: red;
        color: #fff;
        font-weight: bold;
      }
      .disable a{
        cursor: default
      }
    }
    section.notNow{
      display: none;
    }
    section.nowStep{
      display: flex;
      .theater{
        h3{
          padding-top: 16px;
          text-align: center;
          margin: 0;
          width: 350px;
          height: 55px;
          background-color: #000;
          color: #fff;
          font-size: 20px;
        }
        .divide{
          position: relative;
          width: 350px;
          padding-top: 61px;
          &>div{
            width: 100%;
            height: 100%;
            >button{
              position: absolute;
              background-color: #fff;
              border: 0;
              border-bottom: 1px solid #777;
              width: 50%;
              height: 60px;
              top: 0;
              cursor: pointer;
            }
            .all{
              cursor: pointer;
              left: 0;
            }
            .special{
              left: 50%;
            }
          }
          .clicked button{
            border-bottom: 2px solid #000;
          }

        }
        
      }
    }
  }
}