@import "../../commonVariables";

main * {
    color: #{$main-whtie};
}
.movies-info {
    position: relative;
    background-color: #{$main-background-black};

    ul {
        display: flex;
        @include layout;
        overflow: hidden;

        //전체 적용
        // 개별 적용
        li {
            transform: translate3d(calc(-198px * 0), 0, 0);
            transition: all 0.2s;
            margin-right: 15px;
            figure {
                position: relative;
                img {
                    width: 184px;
                    border-radius: 5px;
                }
                figcaption {
                    position: absolute;
                    bottom: 0;
                    font-weight: bold;
                    height: 23px;
                    padding-left: 10px;
                    font-size: 26px;
                    font-style: italic;
                    font-family: "Roboto", "Noto Sans KR";
                    text-align: left;
                }
            }

            table {
                margin: 0 auto;
                padding-top: 10%;
                padding-bottom: 20%;
            }
        }
    }

    nav {
        button {
            position: absolute;
            width: 50px;
            height: 50px;
        }

        .left {
            top: 50%;
            transform: translate3d(0, -100%, 0);
            left: 400px;
        }
        .right {
            top: 50%;
            transform: translate3d(0, -100%, 0);
            right: 400px;
        }
    }
}
