.right-con {
  float: left;
  width: 480px;

  strong {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
  }

  dl, dd {
    margin: 0;
    padding: 0;
  }

  .group-graph:after {
    content: ""; 
    display: block; 
    clear: both;
  }

  .bx-graph01 {
    float: left;
    position: relative;
    width: 32%;
    height: 76px;
    margin-top: 49px;

    .bg {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 50px;
      background: url("https://www.lottecinema.co.kr/NLCHS/Content/images/movie/graph_bgx2.png") no-repeat center 0;
      background-size: 111px auto;
    }

    dl {
      position: relative;
      height: 51px;
      border-bottom: 1px solid #666666;

      dt {
        position: absolute;
        bottom: -20px;
        width: 50%;
        font-size: 10px;
        color: #666;
        text-align: center;
        white-space: nowrap;
      }

      dt.mal {
        left: 0;
      }

      dt.fem {
        left: 50%;
      }

      dd {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;

        strong {
          position: absolute;
          width: 38px;
          z-index: 2;
          top: -3px;
          font-family: 'Roboto';
          font-size: 12px;
          white-space: nowrap;
    
          span {
            font-size: 10px;
          }
        }
      }

      dd.mal {
        width: 17px;
        margin-left: -36px;
      }

      dd.fem {
        width: 28px;
        margin-left: 9px;
      }

      .bar {
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      dd.mal .bar {
        background-color: #8BE2FC;
      }

      dd.fem .bar {
        background-color: #FB5B95;
      }
          
      dd.mal strong {
        right: -38px;
        color: #8BE2FC;
      }
          
      dd.fem strong {
        right: -32px;
        color: #FB5B95;
      }
    }
  }
  
  .bx-graph02 {
    float: right;
    width: 280px;
    height: 110px;
    padding-top: 15px;

    dl {
      position: relative;
      height: 85px;
      border-bottom: 1px solid #666666;

      dt {
        position:absolute;
        bottom: -20px;
        width: 50px;
        font-size: 12px;
        color: #666;
        text-align: center;
        white-space: nowrap;
      }

      .gen10 {
        left: 36px;
      }
         
      .gen20 {
        left: 86px;
      }
          
      .gen30 {
        left: 138px;
      }
          
      .gen40 {
        left: 188px;
      }

      dd {
        position: absolute;
        bottom: 0;
        width: 50px;

        .bar {
          display: block;
          width: 8px;
          height: 100%;
          margin: 0 auto;
          border-radius: 8px 8px 0 0;
          background-color: #8B8B8B;
        }

        strong {
          position: absolute;
          top: 0;
          width: 100%;
          margin-top: -15px;
          font-family: 'Roboto';
          font-size: 12px;
          text-align: center;
          white-space: nowrap;

          span {
            font-size: 10px;
          }
        }
      }
          
      .gen10 {
        left: 36px;
      }
          
      .gen20 {
        left: 86px;
      }
          
      .gen30 {
        left: 138px;
      }
          
      .gen40 {
        left: 188px;
      }
          
      .top .bar {
        background-color: #F51641;
      }
          
      .top strong {
        color: #F51641;
      }  
    }
  }
}