.owl-carousel{
  padding: 0 20px;
  cursor: pointer;
}
.owl-nav > button{
  width: 37px;
  height: 39px;
  position: absolute;
  top: 15px;
}
.owl-prev{
background: url("../../images/icon/arr_lf_11.png") no-repeat center center !important;
left: 0;
margin-left: -15px;
}

.owl-next{
background: url("../../images/icon/arr_rg_11.png") no-repeat center center !important;
right: 0;
margin-right: -15px;
}

.owl-prev > span,.owl-next > span {
  font-size:0;
}
.owl-item{
  position: relative;
}

.item .month {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.item .dateLabel{
  padding-top: 20px;
  cursor: pointer;
  text-align: center;
  display: block;
}
.item .dateLabel input:checked+.showDate{
  color: #fff;
  background-color: #000;
}
.item .dateLabel .showDate{
  display: block;
  width: 30px;
  height: 30px;
  font-size: 15px;
  margin: auto;
  line-height: 30px;
  border-radius: 50%;
}
.item .dateLabel .showWeek{
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
.item .disable .showDate, .item .disable .showWeek{
  color: #ccc;
}