.checkDataBox{
  width: 1204px;
  height: 100%;
  background-color: #ececec;
  h3{
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
  }
  .checkBoxHeader{
    text-align: center;
    padding: 20px 0;
    .payIcon{
      display: inline-block;
      background-image: url("/images/icon/payIcon.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100px;
      height: 77px;
    }
    p{
      font-weight: bold;
      font-size: 15px;
    }
  }
  .checkBoxBody{
    margin: auto;
    background-color: #fff;
    padding: 0 20px 40px;
    width: 60%;
    justify-content: center;
    .checkData{
      width: 100%;
      display: flex;
      padding: 20px;
      justify-content: space-between;
      img{
        width: 150px;
        margin-right: 40px;
      }
      .checkDataDetail{
        width: 500px;
        p{
          margin-bottom: 15px;
          span{
            font-size: 14px;
          }
          span:first-child{
            display: inline-block;
            width: 80px;
            font-weight: 600;
          }
        }
        p:first-child{
          font-weight: bold;
          border-bottom: 2px solid #000;
          padding-bottom: 15px;
        }
        .getTicket{
          width: 200px;
          background-color: rgb(241, 69, 69);
          color: #fff;
          height: 40px;
          margin-left: 125px;
          border-radius: 10px;
        }
      }
    }
    .payData{
      border-top: 1px solid #ececec;
      margin: 0 20px;
      padding: 20px 0;
      p{
        font-weight: bold;
        >span{
          display: inline-flex;
          justify-content: space-between;
          vertical-align: middle;
          font-size: 15px;
          >span{
            font-size: 15px;
          }
        }
        .cost{
          width: 140px;
          >span{
            display: inline-block;
          }
        }
        .discountCost{
          width: 200px;
        }
        .resCose{
          width: 230px;
        }
        .minus{
          margin: 0 10px;
          background-image: url("/images/icon/costNimus.png");
          background-repeat: no-repeat;
          width: 15px;
          height: 15px;
          background-size: contain;
        }
        .result{
          margin: 0 10px;
          background-image: url("/images/icon/costRes.png");
          background-repeat: no-repeat;
          width: 15px;
          height: 15px;
          background-size: contain;
        }
      }
    }
    .payMethod{
      padding: 0 20px;
      text-align: right;
      .payBy{
        display: inline-block;
        font-size: 12px;
        padding: 3px;
        border-radius: 3px;
        background-color: #aaa;
        color: #fff;
        margin-right: 50px;
      }
      
    }
  }
  .notice{
    margin: auto;
    width: 60%;
    padding-left: 20px;
    li{
      list-style: disc;
      padding: 5px 0;
    }
    .important{
      color: red;
    }
  }
  
  >button{
    display: block;
    width: 160px;
    background-color: red;
    color: #fff;
    font-size: 15px;
    margin: auto;
    margin-top: 30px;
    height: 40px;
    border-radius: 5px;
  }
}