.scheduleThaeterBox{
  position: relative;
  width: 40%;
  h3{
    padding-top: 16px;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 55px;
    background-color: #e2e2e2;
    color: #fff;
    font-size: 20px;
    white-space: nowrap;
    color: #000;
  }
}
.scheduleTimeBox{
  width: 60%;
}