.movie-people-box {
  position: relative;
  margin-bottom: 60px;

  .movie-people-text {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .movie-people-list-box {
    height: 360px;
    overflow: hidden;

    li {
      float: left;
      position: relative;
      width: 25%;
      height: 90px;
      margin-bottom: 30px;
      padding-left: 110px;

      .picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;

        img {
          width: 100%;
        }
      }

      .people-info-box {
        display: table;
        height: 100%;
        margin-left: 14px;
        padding-left: 10px;

        .people-inner {
          display: table-cell;
          vertical-align: middle;

          .people-name {
            display: block;
            margin-bottom: 4px;
            font-size: 13px;
            text-decoration: underline;
          }

          .people-cast-name {
            display: block;
            font-size: 13px;
            color: #666;
          }
        }
      }
    }
  }
}