@import '../../commonVariables';

footer {
  // 전체
  padding-top: 50px;

  .commercial {
    @include layout;
  }

  .footer {
    background-color: #f5f5f5;
    address {
      background-color: white;
      p {
        @include layout;
      }
    }
    ul {
      @include layout;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
  }
}
