@import '../../commonVariables';

$gary: #f6f6f6;

footer * {
  color: #707070;
}

footer {
  // 전체
  width: 100%;
  margin-top: 50px;
  padding-bottom: 20px;
  address {
    font-style: inherit;
  }

  .footer {
    background-color: #fafafa;
    address {
      background-color: #f6f6f6;
      margin-bottom: 50px;
      .layout {
        @include layout;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        .project-info {
          padding-bottom: 20px;
          img {
            display: block;
            padding-bottom: 20px;
          }
          p {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 8px;
          }
          a {
            font-size: 12px;
          }
        }

        .team-info {
          padding-top: 30px;
          padding-bottom: 30px;
          display: flex;
          justify-content: space-between;
          .member-1,
          .member-2,
          .member-3 {
            display: flex;
            img {
              width: 80px;
              height: 80px;
            }
            div {
              padding-right: 15px;
              padding-top: 10px;
              padding-left: 15px;

              .name {
                padding: 0;
                font-size: 14px;
                font-weight: bold;
                padding-bottom: 5px;
              }
              p {
                font-size: 12px;
                padding: 0;
                white-space: nowrap;
                padding-bottom: 5px;
              }
              .say {
                padding-top: 5px;
                border-top: 1px solid #666;
                font-style: italic;
              }
            }
          }
        }
      }
    }

    ul {
      padding-top: 5px;
      @include layout;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
  }
}
