.top-visual-box {
  position: relative;

  .owl-carousel {
    width: 100%;
    padding: 0;
  }

  .item {
    height: 560px;

    img {
      width: 840px;
      height: 560px;
      margin: 0 auto;
    }
  }

  .owl-nav {
    button {
      top: 45%;
      width: 31px;
      height: 60px;
      opacity: 0.6;
    }

    .owl-prev {
      left: 30px;
      background: url("https://www.lottecinema.co.kr/NLCHS/Content/images/icon/arr_lf_31_wht.png")
        no-repeat center center !important;
    }

    .owl-next {
      right: 30px;
      background: url("https://www.lottecinema.co.kr/NLCHS/Content/images/icon/arr_rg_31_wht.png")
        no-repeat center center !important;
    }
  }

  .owl-dots {
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 0;
    right: 0;
  }
}