@import '../../commonVariables';

.age-all {
  background-color: #5bc77e;
  font-size: 8px;
}
.age-12 {
  background-color: #4dd6ff;
}
.age-15 {
  background-color: #ffc134;
}
.movies-info * {
  color: white;
}
.movies-info {
  position: relative;
  z-index: 1;
  @include layout;

  .nav * {
    color: black;
  }

  .nav {
    display: flex;
    justify-content: space-between;

    .nav-1 {
      border: 1px solid red;
      justify-content: start;
      li {
        border: 1px solid yellowgreen;
      }
    }

    .nav-2 {
      border: 1px solid red;
      justify-content: flex-end;

      li {
        border: 1px solid yellowgreen;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include layout;
    li {
      &:hover nav {
        display: block;
      }

      transition: all 0.2s;
      position: relative;
      .movie-poster {
        position: relative;
        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          font-weight: bold;
          position: absolute;
          top: 10px;
          right: 10px;
          border-radius: 50px;
        }
        img {
          width: 184px;
          height: 262px;
          border-radius: 5px;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          font-weight: bold;
          height: 23px;
          padding-left: 10px;
          font-size: 26px;
          font-style: italic;
          font-family: 'Roboto', 'Noto Sans KR';
          text-align: left;
        }
      }
      .table * {
        color: black;
      }
      table {
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 20%;
        text-align: center;

        .movie-title {
          display: block;
          text-align: center;
          width: 184px;
          height: 12px;
          line-height: 12px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          // border: 3px solid red;
          font-weight: bold;
          margin-bottom: 6px;
        }
        .movie-info {
          display: flex;
          justify-content: center;
          // border: 3px solid yellow;
          .movie-per,
          .movie-point,
          .movie-hart {
            font-size: 10px;
            text-align: center;
            font-weight: bold;
            // border: 5px solid orangered;
            margin-left: 10px;
          }
          .movie-per::after {
            content: '';
            display: inline-block;
            height: 8px;
            padding-left: 10px;
            border-right: 1px solid black;
          }

          .movie-point {
            background-image: url(../../images/icon/ic_star.png);
            background-repeat: no-repeat;
            background-position: 0 center;
            padding-left: 10px;
          }

          .movie-point::after {
            content: '';
            display: inline-block;
            height: 8px;
            padding-left: 10px;
            border-right: 1px solid white;
          }

          .movie-hart {
            height: 16px;
            background-image: url(../../images/icon/heart_rnd_16_off.png);
            background-repeat: no-repeat;
            background-position: 0 center;
            padding-left: 15px;
            text-indent: -999px;
            overflow: hidden;
          }
        }
      }

      nav {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        .button-1 {
          a {
            position: absolute;
            top: 180%;
            left: 38%;
            width: 150px;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            border: 2px solid white;
            border-radius: 5px;
          }
        }

        .button-2 {
          a {
            position: absolute;
            top: 280%;
            left: 38%;
            width: 150px;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            border: 2px solid white;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
